.otpMainDiv{
    display:flex;
    flex-direction:column; 
    height:100vh;
    width:100vw 
}
.otpBottomDiv{
    justify-content: center;
    align-items: center;
}

.otpInputBoxDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding:10px;
    background-color:rgba(242, 244, 246, 1) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 30%;
}
.enterOTPTxt{
    font-size: 26px;
    text-align: center;
}
.otpInput{
    border:0.1px solid rgb(215, 215, 215);
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    font-size:20px; 
    padding:5px;
}
.errorOTPMsg{
    margin-bottom: 10px;
    color:rgb(177, 0, 0);
    font-weight: bold;
}