.userMainDiv{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
}
.bottomDivUser{
    flex-direction: row;
}
.leftDivUser{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
}
.rightDivUser{
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}