.voterDetailsMainDiv{
    display:flex;
    flex-direction: column;
    width:400px;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.voterDTopDiv{
    height: 20%;
    font-weight: bold;
    font-size:32px;
    padding: 10px;
    background-color: rgba(242, 244, 246, 1);
    border-bottom: 0.1px solid rgb(215, 215, 215);
}
.voterDBottomDiv{
    height: 80%;
    display: flex;
    flex-direction: row;
    
}
.voterDBottomLeftDiv,.voterDBottomRightDiv{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:24px;
}
.voterDDetails{
    font-weight: bold;
}